h1 {
  font-style: oblique;
  color: orangered;
  font-size: 30px;
}
p {
  font-style: tahoma;
  color: black;
}
body {
  background-color: rgb(245, 241, 241);
  text-align: center;
  margin: 200px;
}
.github {
  font-size: 40px;
  color: chartreuse;
}
span {
  font-size: 30px;
  color: chartreuse;
}
